@tailwind base;
@tailwind components;
@tailwind utilities;

/*! purgecss start ignore */
@import "prism.css";
/*! purgecss end ignore */

/*Custom Styles Here*/
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
    /* background-color: #FCEDBD; */
}

.font-oswald {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
}

.logo-circle {
    transform: scale(1.5);
}

.gold-color {
    /* background:linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C); */
    color: #fef08a !important;
}

@media screen and (max-width: 576px) {
    .container-custom {
        padding-left: 0 !important;
        margin-left: 5%;
    }
    .post-custom {
        width: 90vw !important;
    }
}